.explore-dashboard {
  background: linear-gradient(135deg, #e9ecef, #f8f9fa);
  padding: 5rem 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.explore-dashboard-content {
  max-width: 700px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.explore-dashboard h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #212529;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.explore-dashboard p {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  color: #6c757d;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.explore-dashboard-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.8rem;
  background-color: #007bff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.explore-dashboard-button:hover {
  background-color: #0056b3;
  transform: translateY(-5px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.2);
}

.explore-dashboard-button svg {
  margin-right: 0.6rem;
}

.dashboard-image img {
  width: 100%;
  max-width: 500px;
  margin-top: 2rem;
  animation: fadeInUp 1.5s ease;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .explore-dashboard h2 {
    font-size: 2rem;
  }

  .explore-dashboard p {
    font-size: 1.1rem;
  }

  .explore-dashboard-button {
    font-size: 1rem;
    padding: 0.7rem 1.4rem;
  }

  .dashboard-image img {
    max-width: 100%;
  }
}
