.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; /* Make modal relative for proper button positioning */
  }
  
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between; /* Ensure buttons are spaced */
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #007BFF; /* Blue button color */
    color: white;
    border-radius: 5px;
    text-align: center;
  }
  
  .back-buttonback {
    background: lightgray;
    color: black;
    margin-left: 4px;
  }
  
  .back-button-align {
    display: inline-block;
    margin-left: auto; /* Ensures the back button is aligned to the right */
  }
  